@import url('https://fonts.googleapis.com/css2?family=Carme&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--colorbg1: #3f97ef;
	--colorbg2: #353535;
	--color1: #ffa500;
	--color2: #ff8c00;
	--color3: #ff4500;
	--colorfont1: #ccc;
	--colorfont2: #5f5f5f;
}

* {
	font-family: 'Montserrat', 'Carme', 'sans-serif';
	font-weight: 400;
	scroll-behavior: smooth;
	box-sizing: border-box;
	/* border: 1px solid white; */
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--colorbg1);

	color: #000;

	min-height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth;
	letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 10px;
}

.rifa {
	margin-top: 200px;
}

h1 {
	text-align: center;
}
.tabla {
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(10, 40px);
	grid-template-rows: repeat(10, 40px);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.numero {
	width: 40px;
	height: 40px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.numero b {
	font-weight: 700;
}

.v {
	background-color: #07fd18;
}
